<div class="carousel-inner">
  <span class="btn btn-dark">hola</span>
  <div class="carousel-item active">
    <img
      src="../../../assets/img/AMS0.png"
      class="d-block w-100"
      alt="medicina"
    />
  </div>
</div>
<div class="container marketing">
  <h2 class="pt-5 pb-3 text-center">Servicios</h2>
  <hr class="pt-2 divider" />
  <div class="row featurette">
    <div class="col-md-5">
      <h2 class="featurette-heading fw-normal lh-1">
        First featurette heading.
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Some great placeholder content for the first featurette here. Imagine
        some exciting prose here.
      </p>
    </div>
    <div class="col-md-6">
      <img src="" alt="" />
    </div>
  </div>

  <hr class="pt-2 divider" />

  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Another featurette? Of course. More placeholder content here to give you
        an idea of how this layout would work with some actual real-world
        content in place.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="" alt="" />
    </div>
  </div>
  <hr class=" pt-2 featurette-divider" />
</div>
